# Python environments
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Ignore all datasets to prevent GitHub LFS/GH001 file size limit errors
data/
